
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --bg-primary:#0A223D;
    --bg-secondary:#0B283D;
    --bg-box-1:#005577;
    --bg-box-2:#FEC260;
}
body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 100px;
    display: flex;
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    background-color:transparent; 
    padding: 0px 50px 0px 0px;
}
.logo img{
    width: 350px;
    height: 180px;
    padding-top: 15px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0px 50px;
}
nav ul li a{
    color: var(--bg-primary);
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: "poppins", serif;
    padding: 4px 8px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav ul li a:hover,
nav ul li a.active{
    color:var(--bg-primary);
    background: #fff;
}
nav .menu-btn i{
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}

/* -----------------------------------------Slider--------------------------- */

.slider-container{
    overflow: hidden;
    height: 100%;
    width: 100%;  
    position: relative; 
}
.slider-wrapper .slider-item{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.slider-wrapper .slider-item::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("image/sofa-1.avif");
}
.slider-wrapper .slider-item:nth-child(2)::before{
    background-image: url("image/mattress-1.jpg");
}
.slider-wrapper .slider-item:nth-child(3)::before{
    background-image: url("image/carpet-3.jpg");
}
.slider-wrapper .slider-item:nth-child(4)::before{
    background-image: url("image/lock-clean-1.jpg");
}
.slider-wrapper .slider-item:nth-child(5)::before{
    background-image: url("image/tank.jpg");
}

.slider-wrapper .slider-item .slide-content{
    color: #000;
    opacity: 0;
    z-index: 20;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px 10px;
    max-width: 1400px;
    font-family: "poppins", serif;
}
.slider-item.swiper-slide-active .slide-content{
    animation: animate-opacity 0.8s 0.6s linear forwards;
}

@keyframes animate-opacity{
    100%{
        opacity: 1;
    }
}
.slider-wrapper .slider-item .slide-content > * {
    max-width: 35%;
}
.slider-item .slide-content .slide-subtitle{
    font-size: 1rem;
    font-weight: normal;
    opacity: 0;
    transform: translateY(60%);
}
.slider-item .slide-content .slide-title{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 5px;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(60%);
}
.slider-item.swiper-slide-active :where(.slide-subtitle, .slide-title){
    animation: animate-text 0.6s 0.6s linear forwards;
}

@keyframes animate-text{
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
.slider-item .slide-content .slide-description{
    margin-top: 25px;
    line-height: 25px;
    font-size: 1.1rem;
    opacity: 0;
    transform: translateY(60%);
}
.slider-item.swiper-slide-active .slide-description{
    animation: animate-text 0.6s 1s linear forwards;
}
.slider-item .slide-content .slide-button{
    color: #000;
    display: block;
    opacity: 0;
    margin-top: 45px;
    font-size: 0.9rem;
    border-radius: 5px;
    background-color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #000;
    width: 0px;
    padding: 13px 0;
    letter-spacing: 1px;
    text-align: center;
    transition: 0.5s ease;
    white-space: nowrap;
}
.slider-item .slide-content .slide-button span{
    opacity: 0;
}
.slider-item.swiper-slide-active .slide-button span{
    animation: animate-opacity 0.6s 1.5s linear forwards;
}
.slider-item.swiper-slide-active .slide-button{
    animation: animate-button 0.6s 1.3s linear forwards;
}
@keyframes animate-button{
    100%{
        opacity: 1;
        width: 250px;
    }
}
.slider-item .slide-content .slide-button:hover{
    color: #000;
    background-color: #fff;
}

/* -------------------------------About------------------------------------- */

.about{
    height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .main img{
    width: 580px;
    max-width: 100%;
    height: auto;
    padding: 0px 10px;
}
.all-text{
    width: 600px;
    max-width: 100%;
    padding: 0px 10px;
}
.main{
    width: 1290px;
    max-width: 95%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.all-text h4{
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    color: #777777;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
}
.all-text h1{
    font-size: 65px;
    color: #111111;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'oswald' , sans-serif;
}
.all-text p{
    font-family: 'jost',sans-serif;
    font-size: 1.1rem;
    color: #777777;
    line-height: 30px;
    margin-bottom: 35px;
}
.btn button{
    background: #fff;
    padding: 20px 32px;
    font-size: 1rem;
    font-weight: bold;
    color: #111111;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 16px 32px 0px rgb(0 0 0 / 6%);
    margin-right: 20px;
}
.btn button:hover{
    background-color: var(--bg-box-2);
    color: #111111;
    transition: .3s;
    cursor: pointer;
}
.btn .btn2{
    background: var(--bg-primary);
    color: #fff;
}
/*--------------------------------------Media------------------------------------ */

@media (max-width: 1536px){
    .slider-wrapper .slider-item .slide-content  {
        width: 85%;
    }
}
@media (max-width: 1250px){
    .about{
        width: 100%;
        height: auto;
        padding: 60px 0;
    }
    .all-text{
        text-align: center;
        margin-top: 40px;
    }
}

@media (max-width: 1024px){
    .slider-wrapper .slider-item .slide-content > * {
        max-width: 100%;
    }
}
/* @media (min-width: 941px) {
    .slider-container {
        overflow: hidden; 
    }
    nav ul li{
        margin: 0px 0px;
    }
} */

@media (max-width: 940px){
    nav .menu-btn i{
        display: block;
    }
    #click:checked ~ .menu-btn i:before{
        content:"\f00d";
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: transparent;
        height: 100vh;
        backdrop-filter: blur(30px);
        width: 100%;
        z-index: 100;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0%;
    }
   
    nav ul li{
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 1.4rem;
        font-weight: 600;
        display: block;
        color: var(--bg-primary);
    }
    nav ul li a:hover,
    nav ul li a.active{
        color: var(--bg-primary);
        font-weight: 600;
        background: none;
}
}
@media (max-width: 768px){
    .slider-wrapper .slider-item .slide-content > * {
        max-width: 100%;
    }
}
@media (max-width: 650px){
    .about .main img{
        margin-bottom: 35px;
    }
    .all-text h1{
        font-size: 45px;
        margin-bottom: 20px;
    }
}



